/* SASS */
$azul_claro: #01B6E3;
$azul_oscuro: #033D5E;
$gris_claro: #b3b3b3;

.container-header {
	background: $azul_oscuro !important;
}

.container-home {
	.row-slider-principal {
		.bottom-slider-principal {
			position: absolute;
			bottom: 0px;

			color: white;
			text-align: center;
		}
	}

	.row-buscador {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	.col-buscador {
		text-align: center;
	}

	.row-noticias {
		padding-top: 30px;
		padding-bottom: 30px; 
		.titulo-noticias {
			color: $azul_oscuro;
			text-align: center;
			font-weight: bold;
		}

		.noticia-categoria {
			color: $gris_claro;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			text-align: left;
		}

		.noticia-titulo {
			color: $azul_oscuro;
			font-weight: light;
		}

		.ver-noticias {
			font-weight: bold;
			color: $azul_oscuro;
			text-decoration: none;
			text-align: right; 

			&:hover {
				text-decoration: underline;
			}
		}
		
		p {
			padding: 0;
			margin: 0;
		}
	}
	}

.container-parallax-home {
	padding-top: 30px;
	background: $azul_oscuro;
	color: white;

	.titulo-eventos, .titulo-convocatorias-avisos {
		color: white;
		text-align: center;
	}

	.col-convocatoria {
		color: white;
		background: $azul_claro;
		text-decoration: none;
		text-align: center;
		font-weight: lighter;

		&:hover {
			background: $azul_oscuro;
		}
	}
}

